doctype html
html(lang="en")
head
    meta(charset="utf-8")
    title='BackOffice - Pplware'
    meta(name="viewport",content="width=device-width, initial-scale=1")
    block styles
        link(href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css",rel="stylesheet")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        style
            include ../assets/css/backoffice-navbar.css
    block scripts
body
    div(class="sidenavbar")
        ul(class="sidenavlist")
            div
                li
                    i(class="icon-home icon-white") 
                    a(href="/",class="menulink")  NewsSports
            br
            div(class="sidenavldiv")
                li(class="sidenavlitem")
                    i(class="icon-user icon-white") 
                    a(href="/profile/"+user.username,class="menulink")  Profile
            div(class="sidenavldiv")
                li(class="sidenavlitem")
                    i(class="icon-user icon-white") 
                    a(href="/users",class="menulink")  Manage Users
            div(class="sidenavldiv")
                li(class="sidenavlitem")
                    i(class="fa fa-gamepad icon-white") 
                    a(href="/games",class="menulink")  Manage Games
            div(class="sidenavldiv")
                li(class="sidenavlitem")
                    i(class="icon-off icon-white") 
                    a(href="/logout",class="menulink")  Logout

block content
    div(id="content")