doctype html
html(lang="en")
head
    meta(charset="utf-8")
    title='Futebol - Pplware'
    meta(name="viewport",content="width=device-width, initial-scale=1")
    block styles
        link(href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css",rel="stylesheet")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        style 
            include ../assets/css/navbar.css
    block scripts
body(class="container",style="width:100% !important;")
    block navbar
        div(class="navbar navbar-inverse nav",id="navbarwidth")
            div(class="navbar-inner")
                div(class="container")
                    a(class="btn btn-navbar",data-toggle="collapse",data-target=".nav-collapse")
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="brand",href="/") NewsSports
                    div(class="nav-collapse collapse")
                        ul(class="nav")
                            li(class="divider-vertical")
                            li(style="width:90px;margin-left:-11px",class="divider-vertical")
                                a(href="/")
                                    i(class="icon-home icon-white") 
                                    p(style="padding-left:20px;margin-top:-20px;font-style:normal;") Home
                            if(user && user.admin == true)
                                li(style="width:120px;margin-left:-11px",class="divider-vertical")
                                    a(href="/backoffice")
                                        i(class="fa fa-user-secret icon-white",style="font-style:normal;",aria-hidden="true")
                                        p(style="padding-left:20px;margin-right:10px;margin-top:-20px;font-style:normal;") BackOffice
                        div(class="pull-right")
                            ul(class="nav pull-right")
                                if(user)
                                    i(class="fa fa-user icon-white",style="float:left;margin-top:12px;")
                                    li(class="dropdown")
                                        if(user.username == viewer.username)
                                            a(class="dropdown-open") #{(user.firstName || "New")+" "+(user.lastName || "User")}
                                                b(class="caret")
                                        else
                                            a(class="dropdown-open") Viewing #{(user.firstName || "New")+" "+(user.lastName || "User")}'s profile
                                                b(class="caret")
                                        ul(class="dropdown-menu")
                                            li(style="margin-top: -5px;")
                                                a(href="/profile/"+viewer.username,style="height:23px")
                                                    i(class="icon-cog")
                                                    p(style="padding-left:18px;top:3px;position:absolute;font-style:normal;") #{viewer.username} Profile
                                            li(style="margin-bottom: -5px;")
                                                a(href="/help/support",style="height:23px")
                                                    i(class="icon-envelope")
                                                    p(style="padding-left:18px;top:-20px;position:relative;font-style:normal;") Contact Support
                                            li(class="divider")
                                            li(style="margin-top: -10px;margin-bottom: -5px;")
                                                a(href="/logout",style="height:23px")
                                                    i(class="icon-off")
                                                    p(style="padding-left:18px;top:-20px;position:relative;font-style:normal;") Logout
                                else
                                    i(class="fa fa-user icon-white",style="float:left;margin-top:12px;")
                                    li(class="dropdown")
                                        a(href="/Login") Login
    block content
    block bscripts